@import "tailwindcss";

:root {
    --background: oklch(12.9% .042 264.695);
    --foreground: oklch(98.4% .003 247.858);
    --card: oklch(14% .04 259.21);
    --card-foreground: oklch(98.4% .003 247.858);
    --popover: oklch(20.8% .042 265.755);
    --popover-foreground: oklch(98.4% .003 247.858);
    --primary: oklch(92.9% .013 255.508);
    --primary-foreground: oklch(20.8% .042 265.755);
    --secondary: oklch(27.9% .041 260.031);
    --secondary-foreground: oklch(98.4% .003 247.858);
    --muted: oklch(27.9% .041 260.031);
    --muted-foreground: oklch(70.4% .04 256.788);
    --accent: oklch(27.9% .041 260.031);
    --accent-foreground: oklch(98.4% .003 247.858);
    --destructive: oklch(70.4% .191 22.216);
    --border: oklch(100% 0 0 / .1);
    --input: oklch(100% 0 0 / .15);
    --ring: oklch(55.1% .027 264.364);
}

@theme default {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color: var(--background);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-border: var(--border);
    --color-ring: var(--ring);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
